/* @import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap'; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --carnellian: #B31B1B;
}


html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.section-title {
    font-size: 3rem;
    color: block;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;

}

.section-title span {
    color: var(--carnellian)
}

.section-subtitle {
    font-size: 2.0rem;
    /* color: block; */
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;

}

.section-subtitle span {
    color: var(--carnellian)
}